{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home2-bg.png');"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="">
        <div class="site-heading">
          <h1 style="font-size: 2.5rem; opacity: 0.8;">Üdv a Webfejlesztés Világában!</h1>
          <span class="subheading lh-sm" style="opacity: 0.8;">Itt minden a kódolásról és kreativitásról szól. Reméljük, hogy találsz néhány hasznos tippet és inspirációt, hogy még jobb webalkalmazásokat hozhass létre. Kövesd velünk az új trendeket és technikákat, és fedezd fel a digitális világ rejtett kincseit!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Közzétéve a
          <!-- post.author.name is now a User object -->
          <a href="#"> {{ post.author.name }} által, {{ post.date }} </a>
          <span class="fa-solid fa-eye mx-2"></span> <strong>{{ post.views }}</strong>
          <!-- Only show delete button if user id is 1 (admin user) -->
          {% if current_user.id == 1: %}
          <a class="mx-2" href="{{url_for('delete_post', post_id=post.id) }}" style="color: red">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4"/>
      {% endfor %}

      <!-- New Post -->
      <!-- Only show Create Post button if user id is 1 (admin user) -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right rounded-circle py-4 "
          href="{{url_for('add_new_post')}}"
          title="Új bejegyzés hozzáadása"
          data-toggle="tooltip"
          data-placement="right"
        >
          <i class="fa-solid fa-plus fa-2x"></i>
        </a>
      </div>
      {% endif %}

      <!-- Pager-->
      <!--      <div class="d-flex justify-content-end mb-4">-->
      <!--        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>-->
      <!--      </div>-->
    </div>
  </div>
</div>

{% include "footer.html" %}
